@using Logitar;
@using MarkdownSharp;
@using SkillCraft.Tools.Core.Natures.Models;
@using SkillCraft.Tools.Models;
@using SkillCraft.Tools.Models.Components;
@model NatureModel

@{
  Layout = "_Layout";

  string title = Model.DisplayName ?? Model.UniqueSlug;
  ViewBag.Title = title;

  BreadcrumbModel breadcrumb = new(title, [new LinkModel("/natures", "Natures")]);

  string? description = null;
  if (Model.Description != null)
  {
    Markdown markdown = new();
    description = markdown.Transform(Model.Description.Replace("\\r", "\r").Replace("\\n", "\n").Remove("\r"));
  }
}

<main class="container">
  <h1>@(title)</h1>
  @(await Html.PartialAsync("~/Views/Shared/Breadcrumb.cshtml", breadcrumb))
  @(await Html.PartialAsync("~/Views/Shared/StatusDetail.cshtml", Model))
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Compétence</th>
        <td>@(Model.Attribute.HasValue ? Translator.Translate(Model.Attribute.Value) : "—")</td>
      </tr>
      <tr>
        <th scope="row">Don</th>
        <td>
          @if (Model.Gift == null)
          {
            @("—")
          }
          else
          {
            <a href="/dons-handicaps/@(Model.Gift.UniqueSlug)">@(Model.Gift.DisplayName ?? Model.Gift.UniqueSlug)</a>
          }
        </td>
      </tr>
    </tbody>
  </table>
  @if (description != null)
  {
    <h3>Description</h3>
    <div>@(Html.Raw(description))</div>
  }
</main>
