@using Logitar.Portal.Contracts.Search;
@using SkillCraft.Tools.Core.Lineages.Models;
@using SkillCraft.Tools.Models;
@using SkillCraft.Tools.Models.Components;
@model SearchResults<LineageModel>

@{
  Layout = "_Layout";

  ViewBag.Title = "Langues";

  BreadcrumbModel breadcrumb = new("Langues");
}

<div class="container">
  <h1>Langues</h1>
  @(await Html.PartialAsync("~/Views/Shared/Breadcrumb.cshtml", breadcrumb))
  @if (Model.Items.Count < 1)
  {
    <p>Cette liste est vide.</p>
  }
  else
  {
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Catégorie de taille</th>
        </tr>
      </thead>
      <tbody>
        @foreach (LineageModel lineage in Model.Items)
        {
          <tr>
            <td>
              <a href="/lignees/@(lineage.UniqueSlug)">@(lineage.DisplayName ?? lineage.UniqueSlug)</a>
            </td>
            <td>@(Translator.Translate(lineage.Size.Category))</td>
          </tr>
        }
      </tbody>
    </table>
    <p class="float-end"><strong>@(Model.Items.Count) @(Model.Items.Count > 1 ? "lignées" : "lignée")</strong></p>
  }
</div>
